@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* navbar style */

.header {
  max-width: 1160px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between; /* Align items */
  align-items: center;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.nav-img {
  width: 60px;
  height: 60px;
}

.nav-text {
  font-size: 32px;
}

/* Navbar Links */
.nav-items {
  display: flex;
  gap: 32px;
}

.nav-link {
  list-style: none;
}

.nav-links1 {
  color: orange;
  text-decoration: none;
}

.nav-links2 {
  color: skyblue;
  text-decoration: none;
}

.nav-links3 {
  color: #05d4df;
  text-decoration: none;
}

.nav-links4 {
  color: #5d58ef;
  text-decoration: none;
}

.nav-button {
  border: none;
  background-color: orange;
  border-radius: 12px;
  color: white;
  padding: 12px 60px;
}

.nav-icon {
  display: none;
}

/* nav banner */

.nav-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.banner-heading {
  height: 331px;
}
.banner-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 auto;
}

.text-orang {
  color: orange;
}

.text-sky {
  color: skyblue;
}

.banner-description {
  font-size: 18px;
  margin: 12px auto;
}

.banner-button {
  border: none;
  color: white;
  background-color: black;
  font-size: 20px;
  padding: 10px 47px;
  border-radius: 8px;
}

.banner-images {
  width: 468px;
  height: 575px;
  object-fit: cover;
}

main {
  background-image: url("assets/bg.png");
  max-width: 1440px;
  margin: 0 auto;
}
/* Standard Curriculum style */
.standar-section {
  max-width: 1160px;
  margin: 0 auto;
}
.curriculm-title {
  text-align: center;
  font-size: 46px;
  margin: 60px auto;
}

.curriculum {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.curicu1 {
  background-image: linear-gradient(180deg, skyblue, white);
  background-position: center;
  border: none;
  border-radius: 12px;
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 12px 40px;
  height: 467px;
}
.cur-img {
  width: 136px;
  height: 136px;
  margin-top: 12px;
}
.curicu1-title {
  font-size: 24px;
}
.curicu1-descriptin {
  color: #808080;
}
.curicu1-btn {
  color: #64c8ff;
}
/* second div */
.curicu2 {
  background-image: linear-gradient(180deg, #fff4dc, white);
  background-position: center;
  border: none;
  border-radius: 12px;
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 12px 40px;
  height: 467px;
}
.cur-img {
  width: 136px;
  height: 136px;
  margin-top: 12px;
}
.curicu2-title {
  font-size: 24px;
}
.curicu2-descriptin {
  color: #808080;
}
.curicu2-btn {
  color: orange;
}
/* third div */
.curicu3 {
  background-image: linear-gradient(180deg, #f2e8ff, white);
  background-position: center;
  border: none;
  border-radius: 12px;
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 12px 40px;
  height: 467px;
}
.cur-img {
  margin-top: 12px;
  width: 136px;
  height: 136px;
}
.curicu3-title {
  font-size: 24px;
}
.curicu3-descriptin {
  color: #808080;
}
.curicu3-btn {
  color: #8700ff;
}

/* arrow key */
.curicun-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 60px auto;
}
.leftArrow {
  background-color: orange;
  border-radius: 100%;
  padding: 12px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.img-arrow {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

/* out-stores */
.out-section {
  background-image: linear-gradient(180deg, #ffffff, rgba(254, 163, 1, 1));
}
.ouer-title {
  display: flex;
  font-size: 46px;
  justify-content: center;
  margin: 60px auto;
}
.our-card {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 18px;
  margin: 0 auto;
  padding-bottom: 24px;
}
.our-card1 {
  background-color: white;
  border-radius: 8px;
  text-align: left;
  width: 540px;
  height: 630px;
  overflow: hidden;
  position: relative;
}
.our-card-img-container {
  position: relative;
}

.our-card-img {
  width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card1-Btn {
  border: none;
  padding: 10px 16px;
  border-radius: 47px;
  background-color: #3cd8e8;
  color: white;
  position: absolute;
  transform: translateY(-50%);
  left: 12px;
  font-size: 14px;
}

.our-card1-title {
  font-size: 20px;
  margin: 36px 12px;
  font-weight: 700;
  font-size: 24px;
}
.our-card1-description {
  margin: 0 12px 12px;
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}
/* card 2 design  */
.our-card2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  width: 540px;
  height: 630px;
}

.card2-img1 {
  position: relative;
  width: 100%;
  height: 301px;
  border-radius: 4px;
  background-color: white;
  color: black;
  overflow: hidden;
}
.card2-img1-img {
  width: 290px;
}
.card2-img1-Btn {
  border: none;
  padding: 15px 19px;
  border-radius: 47px;
  background-color: #95b226;
  color: white;
  margin-left: 32px;
  position: absolute;
  transform: translateY(-50%);
}
.card2-img1-Btn2 {
  border: none;
  padding: 15px 19px;
  border-radius: 47px;
  margin-left: 32px;
  background-color: #5d58f0;
  color: white;
  position: absolute;
  transform: translateY(-50%);
}
.card2-img1-title {
  font-size: 16px;
  padding: 16px;
}
.view-all {
  padding-bottom: 12px;
}

.our-button {
  display: flex;
  font-size: 20px;
  margin: 48px auto;
  padding: 12px 60px;
  background-color: black;
  color: white;
  border-radius: 8px;
}

/* footer */
footer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #01acfd;
}
.footer-design {  
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  justify-content: center; 
  justify-items: center;
  padding: 122px 144px;
  color: white;  
}
.footer-logo{
    display: flex;
    justify-items: center;
    gap: 12px;
}
.footer-loogo{
    width: 82px;
    height: 82px;
}
.logo-dis{
    font-size: 16px;
}
.footer-ul{
text-decoration: none;
list-style: none;
gap: 12px;
color: white;

}
.footer-li{
list-style: none;
gap: 12px;
}

.footer-a{
text-decoration: none;
list-style: none;
color: white;
margin-left: -26px;

}
/* Mobile Responsive Styling */

@media screen and (max-width: 576px) {
  .nav-items,
  .nav-button,
  .nav-text,
  .our-card1 {
    display: none;
  }
  .nav-logo {
    justify-content: center;
    align-items: center;
  }

  .nav-icon {
    display: block;
    cursor: pointer;
    width: 30px;
    font-size: 36px;
  }
  .nav {
    position: relative;
    padding: 12px;
    box-shadow: 0 4px orange;
  }
  .nav-banner {
    flex-direction: column-reverse;
    text-align: center;
    gap: 8px;
    padding: 20px;
  }

  .banner-title {
    font-size: 36px;
  }

  .banner-description {
    font-size: 16px;
  }

  .banner-images {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .banner-button {
    font-size: 18px;
    padding: 12px 36px;
  }
  .curriculm-title {
    font-size: 32px;
    margin: 30px auto;
  }
  .curriculum{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .curicu1,
  .curicu2,
  .curicu3 {
    height: auto;
    padding: 20px 15px;
  }
  .cur-img {
    width: 100px;
    height: 100px;
  }
  .curicu1-title,
  .curicu2-title,
  .curicu3-title {
    font-size: 20px;
  }
  .curicu1-descriptin,
  .curicu2-descriptin,
  .curicu3-descriptin {
    font-size: 14px;
  }
  .curicu1-btn,
  .curicu2-btn,
  .curicu3-btn {
    font-size: 16px;
  }
  .curicun-arrow {
    display: none;
  }
  .our-card2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    margin: 0 auto;
  }

  .card2-img1-Btn,
  .card2-img1-Btn2 {
    position: static;
    transform: none;
    margin: 8px 0;
  }
  .footer-design{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 384px;
  }
}
